* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Styling nav */
nav {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  background-color: whitesmoke;
}

.logo {
  display: flex;
  justify-content: center;
  color: darkcyan;
  font-size: 30px;
  padding: 30px;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  text-decoration: underline;
}
a:active {
  font-style: italic;
}
/* Styling login-btn*/
/* Inspirasjon fra ulike button-oppsett på: https://www.w3schools.com/css/css3_buttons.asp */
.login-btn {
  border: none;
  background-color: darkcyan;
  color: white;
  font-size: medium;
  padding: 10px 25px;
  border-radius: 20px;
  margin-top: -8px;
}

.login-btn:hover {
  color: darkcyan;
  background-color: white;
}

.login-btn:active {
  font-style: italic;
}

/* Styling av hovedinnhold */
.staff-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

/* Box-shadow hentet fra https://getcssscan.com/css-box-shadow-examples */
.staff-card-container {
  width: 450px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 7px;
  padding: 10px;
  margin: 20px;
}

.staff-card-container-image {
  width: 430px;
  object-fit: cover;
  padding: 10px;
}

h2 {
  text-align: center;
  color: darkcyan;
  margin-top: 180px;
}

h3 {
  padding: 10px;
  color: darkcyan;
}

p {
  padding: 10px;
}

.staff-quote {
  font-style: italic;
  font-size: 14px;
}

.quote {
  color: darkcyan;
}

/* Styling btn */
.booking-btn {
  border-style: solid;
  border-color: darkcyan;
  background-color: darkcyan;
  color: white;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 20px;
}

.booking-btn:hover {
  color: darkcyan;
  background-color: white;
  border-style: solid;
  border-color: darkcyan;
}

.booking-btn:active {
  font-style: italic;
}

/* Styling footer */
footer {
  position: fixed;
  background-color: whitesmoke;
  bottom: 0;
  height: 60px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}

.footer-text {
  color: darkcyan;
  list-style: none;
  display: block;
  text-align: center;
}
